html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-points-top {
    padding: 50px 50px;
    display: flex;  
    justify-content: space-between;
}
.title-abstract-top, 
.title-abstract-bottom {
    width: 400px;
}
.title-abstract-top img,
.title-abstract-bottom img  {
    height: auto;
    width: 100%;
}

.points-right, 
.points-left  {
    width: 120px;
}
.points-right img, 
.points-left img {
    height: auto;
    width: 100%;
}



/* .title-abstract-bottom {
    position: absolute;
    width: 400px;
    bottom: 50px;
    right: 50px;
}
.title-abstract-bottom img {
    height: auto;
    width: 100%;
}

.points-left {
  position: absolute;
  left: 50px;
  bottom: 50px; 
  width: 120px;
}
.points-left img {
    height: auto;
    width: 100%;
} */


/* nu este ok pozitionarea asta. Era doar un element ce trebuia centrat in pagina. Eu il vad foarte in dreapta, ma indoiesc ca voiai asta */
.container-wrapper {
    position: relative;
    width: 500px;
    height: 250px;
    border: 5px solid #fff;
    /* bottom: 230px;
    right: 430px; */
    margin: 0 auto;
    /* este foarte coborat din cauza imaginii cu puncte care are height de 270px aprox */
    /* poti sa optezi sa il ridici dar cu un relative, nu cu un absolut */
    top: -100px;
}

.horizontal-lines-container {
    width: 15px;
    margin: 110px auto auto 20px;
  }
.horizontal-lines-container img {
      height: auto;
      width: 100%;
  }


.title-abstract-container {
    width: 250px;
    /* din nou, este doar un element ce il vrem centrat. Margin asa de mare si negativ nu ar trebui sa fie o solutie */
    margin: -180px auto 20px auto;
  }
.title-abstract-container img {
      height: auto;
      width: 100%;
  }


.title-background-container {
    position: absolute;
    width: 10px;
    right: 20px;
    top:20px;
  }
.title-background-container img {
      height: auto;
      width: 100%;
  }



.separator{
    width: 150px;
    margin: 30px auto;
    border-top: 1px solid #fff;
}

.text-container {
    width: 300px;
    margin: 10px auto 10px auto;
}

.text-container p {
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}